<h1 class="font-semibold text-2xl mb-4">Your Holdings</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-200 uppercase bg-indigo-950">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Shares Owned
                </th>
                <th scope="col" class="px-6 py-3">
                    Average Buy Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Value
                </th>
            </tr>
        </thead>
        <tbody>
            <% @holdings.each do |holding| %>
                <tr class="border-b border-violet-950 text-gray-200 odd:bg-indigo-900 even:bg-gray-800 hover:bg-gray-50 hover:text-gray-900">
                    <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                        <%= holding.stock_name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= holding.total_shares_owned %>
                    </td>
                    <td class="px-6 py-4">
                        <%= holding.average_buy_price %>
                    </td>
                    <td class="px-6 py-4">
                        <%= holding.total_value %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>


