<div class="back_btn_div">
  <%= link_to "Back",admin_users_path, class: "back-btn text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
</div>
<div class="user_details_div">
  <div class="signup_form">
    <h1 style="margin-bottom:5px;">DETAILS</h1>
    <div>
      <div class="field">
        <label>Name:</label>
        <div class="input"><%= @user.name %></div>
      </div>
      <div class="field">
        <label>Email:</label>
        <div class="input"><%= @user.email %></div>
      </div>
      <div class="field">
        <label>Status:</label>
        <div class="input"><%= @user.is_approved ? "Active":"Inactive"; %></div>
      </div>
    </div>
  </div>
</div>
<style>
  .user_details_div {
    background-color: rgba(0, 0, 0, 0.4);
    flex: 50%;
    width: 50%;
    font-weight: bold;
    border: 3px solid #f1f1f1;
  }
  .input{
  width: 100%;
  padding: 8px 10px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  input[type="submit"] {
  width: 100%;
  background-color: rgb(20, 131, 146);
  color: white;
  padding: 10px 10px;
  margin: 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  input[type="submit"]:hover {
  background-color: rgb(25, 164, 182);
  }
  .login_btn {
  background-color: rgb(25, 182, 25);
  width: 100%;
  color: white;
  padding: 10px 10px;
  margin: 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  div {
  border-radius: 5px;
  }
</style>